menu {
  width: 100%;
  height: 25px;
  background-color: #7d6e99;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  vertical-align: middle;
}

.selection_style{
margin: 0;
padding-top: 0.1%;
font-size: 125%;
&:hover{
  cursor: pointer;
}
&:active{
  color: white;
}
}